<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--<add name="NFineDbContext" connectionString="Data Source=(localdb)\Projects;Initial Catalog=NFineBase;Integrated Security=SSPI;AttachDBFilename=F:\Program\DB\SqlServerData\NFineBase.mdf"
       providerName="System.Data.SqlClient"/>-->
  <add name="NFineDbContext" connectionString="Data Source=(localdb)\Projects;Initial Catalog=NFine_BookBorrow;Integrated Security=SSPI;AttachDBFilename=F:\Program\DB\SqlServerData\NFine_BookBorrow.mdf"
       providerName="System.Data.SqlClient"/>
</connectionStrings>